<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>게시글 페이지</title>
</head>
<body>
<header id="header"></header>
<main>
  <header>
    <h1>첫번째 글</h1>
  </header>
  <aside>
    <p><span class="nick-name">pleed</span></p>
    <p><a class="u-url" rel="me" href="mailto:pleed@naver.com">pleed</a></p>
    <p><time datetime="2023-05-23T00:00:00">2023-05-23</time></p>
    <p><span class="nick-name">pleed</span></p>
    <p>#java</p>
  </aside>
  <section>
    <p>본문<br/><br/></p>

    <div>
      <form>
        <label for="comment" hidden>댓글쓰기</label>
        <textarea id="comment" placeholder="댓글쓰기.." rows="3"></textarea>
        <button type="submit">쓰기</button>
      </form>

      <ul>
        <li>
          <div>
            <time><small>2023-05-23</small></time>
            <strong>pleed</strong>
            <p>
              lorem impsum dolor sit amet, consectetur a
              lorem impsum dolor sit amet, consectetur a
            </p>
          </div>
        </li>
        <li>
          <div>
            <time><small>2023-05-23</small></time>
            <strong>pleed</strong>
            <p>
              lorem impsum dolor sit amet, consectetur a
              lorem impsum dolor sit amet, consectetur a
            </p>
          </div>
        </li>
      </ul>
    </div>
    <nav>
      <a href="#">이전 글</a>
      <a href="#">다음 글</a>
    </nav>
  </section>
</main>
<footer id="footer">

</footer>
</body>
</html>